/*
    Global Declaration
*/

/* Navbar */

nav {
  background-color: black;
  z-index: -2;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 2rem;
  color: azure;
  background-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: red;
  transform: rotate(90deg);
}

.logo {
  height: 40px;
}

.links a {
  color: azure;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem;
  transition: all 0.3s linear;
  text-decoration: none;
}

.links ul {
  margin-bottom: 0.5rem;
}
.links a:hover {
  background-color: transparent;
  color: red;
  padding-left: 1.5rem;
}

.link-container {
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-container {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .nav-header {
    padding-left: 0;
  }
  .nav-toggle {
    display: none;
  }
  .link-container {
    height: auto !important;
  }
  .links {
    display: flex;
    padding-right: 30rem;
  }
  .links a {
    padding: 0;
    margin: 2rem;
  }
  .links a:hover {
    padding-right: 1rem;
    color: red;
  }
}
